body{
    padding: 1em 1em;
}
p
{color: aqua;
    padding: 1em;


}
.highlight
{background-color: yellow;}
#header
{color: blueviolet;}
#bobo
{color:#ff0000;}
div p
{color: green;}
div > p
{color: red;}
h1 + p
{font-style: italic;}
h1 ~ p
{color: purple;}